<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <th:block th:insert="common :: head"/>
    <title>Generate ESQL</title>
    <link rel="stylesheet" th:href="@{/css/generate.css}">
</head>
<body>
    <header th:replace="common :: header"></header>
    <div class="container"> 
        <br><br>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current=""><a th:href="@{/}">Available WSDLs</a></li>
                    <li th:each="crumb, iterStat : ${crumbs}"
                        class="breadcrumb-item" 
                        th:appendclasses="${iterStat.last ? 'current' : ''} "
                        th:aria-current="${crumb}" > 
                        <a th:if="${iterStat.last}" th:text="${crumb}"></a>
                        <a th:if="${!iterStat.last}" th:text="${crumb}" th:href="@{${T(ne.utils.MiscUtils).getBeforeNthMatch(currentPath, iterStat.index+2, '/')}}"></a>
                    </li>
                </ol>
            </nav>
            <br>
            <h1>
                <center th:text="${messageType + '#' + messageName}"></center>
            </h1>



            <div class="jumbotron">
                <form method="POST">
                    
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Generate For:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="esqlSource" id="output" value="output" th:checked="${esqlSource.contains('output')}">
                                    <label class="form-check-label" for="output">
                                        OutputRoot
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="esqlSource" id="input" value="input" th:checked="${esqlSource.contains('input')}">
                                    <label class="form-check-label" for="input">
                                        InputRoot
                                    </label>
                                </div>                               
                            </div>
                        </div>
                    </fieldset>                    
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Declare inputs as:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inputType" id="references" value="references" th:checked="${inputType}">
                                    <label class="form-check-label" for="references">
                                        References
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inputType" id="variables" value="variables" th:checked="${!inputType}">
                                    <label class="form-check-label" for="variables">
                                        Variables
                                    </label>
                                </div>                               
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Verbsoity</legend>
                            <div class="col-sm-10">                               
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="verbosity_docs" id="verbosity_docs" th:checked="${verbosity_docs}">
                                    <label class="custom-control-label" for="verbosity_docs">
                                        Documentation
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="verbosity_structure" id="verbosity_structure" th:checked="${verbosity_structure}"/>  
                                    <label class="custom-control-label" for="verbosity_structure">
                                        ESQL Structure
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="verbosity_nodeHelp" id="verbosity_nodeHelp" th:checked="${verbosity_nodeHelp}">                                    
                                    <label class="custom-control-label" for="verbosity_nodeHelp">
                                        XSD Node Help
                                    </label>
                                </div>   
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="verbosity_valueHelp" id="verbosity_valueHelp" th:checked="${verbosity_valueHelp}">                                    
                                    <label class="custom-control-label" for="verbosity_valueHelp">
                                        Field Value Help
                                    </label>
                                </div>  
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="verbosity_multiplicity" id="verbosity_multiplicity" th:checked="${verbosity_multiplicity}">                                    
                                    <label class="custom-control-label" for="verbosity_multiplicity">
                                        Field Multiplicity
                                    </label>
                                </div> 
                            </div>
                        </div>
                    </fieldset>

                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary btn-block">Generate</button>

                </form> 
            </div>
            <hr class="my-4">
            <ul>
                <li class="setter" th:each="nsline : ${ns}">
                    DECLARE <span class="text-primary" th:text="${nsline.getPrefix()}"/> 
                    <span class="text-muted">NAMESPACE</span>
                    <span class="text-primary" th:text="@{'\''+${nsline.getNamespace()}+'\''}"/>;
                </li>
                <br><br>
                <th:block th:each="line : ${lines}" >
                    <li th:if="${line.getESQLComment() != null}" class="comment">                        
                        <span th:class="${line.getESQLComment().getType().toLowerCase()}" th:text="@{' -- ' +${T(ne.utils.MiscUtils).cleanXML(line.getESQLComment().getComment())}}"/>
                    </li>
                    
                    <li class="setter" th:if="${line.getESQLSetter() != null}">
                        <th:block th:if="${line.getESQLSetter().getESQLSource().toLowerCase().equals('input')}">
                            <span>SET </span>
                            <span class="text-primary" th:text="@{${T(ne.utils.MiscUtils).getVariableFromPath(line.getESQLSetter().getXPath())} }"></span> 
                            <span th:if="${inputType}" class="text-muted">REFERENCE TO </span>
                            <span th:if="${!inputType}" class="text-muted" th:text="${line.getESQLSetter().getFieldType() + ' '}"></span>
                            <span class="text-danger" th:text="@{InputRoot.XMLNSC.}"></span><span class="text-success" th:text="${line.getESQLSetter().getXPath()} + '; '"></span> 
                            <span class="value_help" th:text="${'-- ' + line.getESQLSetter().getValueHelp()}"/>
                        </th:block>
                    <th:block th:if="${line.getESQLSetter().getESQLSource().toLowerCase().equals('output')}">
                        <span>SET </span>
                        <span class="text-danger" th:text="@{OutputRoot.XMLNSC.}"></span><span class="text-success" th:text="${line.getESQLSetter().getXPath()} + ' = '"></span> 
                        <span class="text-warning" th:text="${line.getESQLSetter().getDefaultValue()  + '; '}" />
                        <span class="value_help" th:text="${'-- ' + line.getESQLSetter().getValueHelp()}"/>
                    </th:block>
                    </li>
                </th:block>
            </ul>
            <br><br>

            <th:block th:replace="common::alert"/>
    </div>
    <footer>
        <th:block th:replace="common :: scripts" /> 
        <script th:src="@{/js/upload.js}"></script>
    </footer>

</body>
</html>
