<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:insert="common :: head">
        <title>Welcome</title>               
    </head>
    <body>
        <header th:replace="common :: header"></header>
        <div class="container">
            <section th:if="${wsdlFiles.size() != 0}">
                <br>
                <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
                <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
                <br>
                <h1><center>Available WSDLs</center></h1>
                <br>
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>WSDL Name</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="filename : ${wsdlFiles}">
                            <td th:text="${filename}"></td>
                            <td><a class="btn btn-success" th:href="@{'/View/'+${filename}}">View</a></td>
                            <td>
                                <form method="POST" class="deleteWSDLForm" th:action="@{/delete}">    
                                    <input type="hidden" name="wsdlName" th:value="${filename}" />
                                    <button type="button" class="btn btn-danger deleteWSDLButton">Delete WSDL</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>    

        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this WSDL? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, This was a mistake</button>
                        <button type="button" id="confirmDelete" class="btn btn-primary">Yes, I'm sure.</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <th:block th:replace="common :: scripts" /> 
            <script th:src="@{/js/list.js}"></script>
        </footer>
    </body>

</html>